.container{

    width: 100%;
    padding: 50px 4.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

/* ====== check-out ====== */

.check_out_side{

    width: calc(60% - 10px);

}

.check_out_side form{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: 0.3s;

}

.input_cont{

    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.input_cont:nth-child(2),
.input_cont:nth-child(3){

    width: calc(50% - 10px);

}

/* ============ */

.loader {

    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 20px;
    height: 10px;
    background: linear-gradient(var(--dark-color) calc(1 * 100% / 6),
            transparent 0 calc(3 * 100% / 6),
            var(--dark-color) 0),
        linear-gradient(var(--dark-color) calc(2 * 100% / 6),
            transparent 0 calc(4 * 100% / 6),
            var(--dark-color) 0),
        linear-gradient(var(--dark-color) calc(3 * 100% / 6),
            transparent 0 calc(5 * 100% / 6),
            var(--dark-color) 0);
    background-size: 5px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%;
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%;
    }
}

/* ============ */

.input_cont label {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: var(--darker-color);

}

.input_cont label .error_msg {

    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: var(--error-color);

}

.input_cont input {

    height: 40px;
    padding: 0px 20px;
    padding-right: 50px;
    outline: none;
    font-size: 16px;
    color: var(--darker-color);
    border-radius: 4px;
    border: 1px solid var(--dark-color);
    background-color: transparent;

}

.input_cont input:focus {

    border-width: 2px;

}

.input_cont:focus-within .loader {

    opacity: 1;
    visibility: visible;

}

.radio_btns{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.radio_sec{

    display: flex;
    gap: 20px;

}

.radio_buttons_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.radio_button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio_button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio_button__label {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--darker-color);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio_button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--dark-color);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio_button__input:checked+.radio_button__label .radio_button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid var(--dark-color);
    color: var(--dark-color);
}


.radio_button__label:hover .radio_button__custom {
    transform: translateY(-50%) scale(1.1);
    border-color: var(--dark-color);
    box-shadow: 0 0 10px var(--dark-color-02);
}






.error_msg_radio{

    font-size: 14px;
    color: var(--error-color);

}

.submit {

    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
    border: none;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--dark-color);
    transition: 0.3s;
    cursor: pointer;

}

.submit:hover {

    opacity: 0.9;

}

/* ====== img-side ====== */

.img_side{

    width: calc(35% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.img_side img{

    width: 100%;

}

/* ====== responsive-style ====== */

@media(max-width : 1026px){

    .check_out_side{

        width: calc(55% - 10px) !important;

    }

    .img_side{

        width: calc(45% - 10px)!important;

    }

}

@media(max-width : 758px){

    .container{

        flex-direction: column-reverse;

    }

    .img_side{

        width: 60% !important;

    }

    .check_out_side{

        width: 100% !important;

    }

}

@media(max-width : 570px){

    .input_cont:nth-child(2),
    .input_cont:nth-child(3){

        width: 100% !important;

    }

    .img_side{

        width: 90% !important;

    }

}