.container{

    width: 100%;
    padding: 0px 4.5%;

}

.title {

    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.title p {

    font-size: 40px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.9px;
    color: var(--darker-color);

}

.card_cont{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card{

    width: calc(calc(100% / 6) - calc(20px - calc(20px / 6)));
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--light-color);
    box-shadow: 0px 4px 24px var(--darker-color-015);
    overflow: hidden;

}

.card img{

    width: 100%;
    height: 280px;
    object-fit: cover;

}

.card p{

    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.6px;
    text-align: center;
    color: var(--darker-color);

}

/* ====== responsive-style */

@media(max-width: 1200px){

    .card img{

        height: 200px !important;

    }

}

@media(max-width: 951px){

    .card{

        width: calc(20% - 16px);

    }

    .card img{

        height: 250px !important;

    }

    .card p{

        font-size: 16px !important;

    }

}

@media(max-width: 751px){

    .card{

        width: calc(25% - 15px);

    }

    .card img{

        height: 200px !important;

    }

    .card p{

        font-size: 14px !important;

    }

}

@media(max-width: 650px){

    .card{

        width: calc(calc(100% / 3) - calc(20px - calc(20px / 3)));

    }

    .card p{

        font-size: 13px !important;

    }

}

@media(max-width: 444px){

    .card{

        width: calc(calc(100% / 2) - 10px);

    }

    .card img{

        height: 250px !important;

    }

    .card p{

        font-size: 13px !important;

    }

}

@media(max-width: 340px){

    .card{

        width: 100% !important;

    }

    .card img{

        height: 420px !important;

    }

    .card p{

        font-size: 18px !important;

    }

}