.container{

    width: 100%;
    padding: 50px 4.5%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.container i{

    font-size: 350px;
    color: var(--darker-color);

}

.container p{

    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: var(--darker-color);

}

.container button{

    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid transparent;
    color: var(--light-color);
    background-color: var(--dark-color);
    transition: 0.3s;
    cursor: pointer;

}

.container button:hover {

    color: var(--dark-color);
    border-color: var(--dark-color);
    background-color: transparent;

}

/* ====== responsive-style ====== */

@media(max-width: 376px){

    .container i{

        font-size: 300px !important;

    }

}