.header{

    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 4.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    border-bottom: 0.5px solid var(--dark-color-02);
    z-index: 100;

}

/* === logo === */

.logo{

    width: 126px;

}

.logo img{

    width: 100%;

}

/* === nav === */

.nav ul{

    display: flex;
    align-items: center;
    gap: 10px;

}

.nave_link{

    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: var(--darker-color);
    transition: 0.3s;

}

.nave_link:hover{

    background-color: var(--dark-color-02);

}

.more{

    display: flex;
    align-items: center;
    gap: 5px;

}

.more .icon{

    width: 25.5px;
    height: 25.5px;
    cursor: pointer;

}

.profile_icon , .cart_icon{

    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: 0.3s;

}

.notification{

    position: absolute;
    right: -7.5px;
    top: -7.5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    color: var(--light-color);
    border-radius: 50%;
    background-color: var(--dark-color);
    transition: 0.3s;

}

.more p{

    display: none;
    color: var(--darker-color);

}

/* === nav-ph === */

.nav_ph{

    position: relative;
    display: none;
    width: 30px;
    height: 20px;
    transition: 0.3s;

}

.nav_ph .nav_span{

    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--darker-color);
    transition: 0.3s;

}

.nav_ph .nav_span:nth-child(1){

    top: 0;
    left: 0;

}

.nav_ph .nav_span:nth-child(2){

    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0s !important;

}

.nav_ph .nav_span:nth-child(3){

    bottom: 0;
    left: 0;

}

.change{

    rotate: 180deg;

}

.change .nav_span:nth-child(1){

    top: 50%;
    left: 1px;
    rotate: -45deg;

}

.change .nav_span:nth-child(2){

    opacity: 0;
    left: -100%;

}

.change .nav_span:nth-child(3){

    top: 50%;
    left: 0;
    rotate: 45deg;

}

/* ====== responsive-style ====== */

@media(max-width: 760px){

    .nav{

        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 70px);
        padding: 20px 0px;
        background-color: var(--light-color);
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        transition: 0.3s;

    }

    .display_nav {

        top: 70px;
        visibility: visible;
        opacity: 1;

    }

    .nav ul{

        flex-direction: column;

    }

    .nave_link{

        width: calc(100% - 40px);
        text-align: center;

    }

    .nav_ph{

        display: inline-block;

    }

    .profile_icon , .cart_icon{

        position: fixed;
        left: 20px;
        width: calc(100% - 40px);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 4px;
        border: 1px solid var(--dark-color);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;

    }

    .cart_icon{

        bottom: 30px;

    }

    .profile_icon{

        bottom: 90px;

    }

    .more p{

        display: inline-block;

    }

    .display_icon_pro {

        bottom: 80px;
        opacity: 1;
        visibility: visible;

    }

    .display_icon_cart {

        bottom: 20px;
        opacity: 1;
        visibility: visible;

    }

}