@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;

}

:root{

  --dark-color: #56B280;
  --light-color: #FFFFFF;
  --darker-color: #272727;
  --error-color: #ff0000;
  --dark-color-08: rgba(86, 178, 128, 0.8);
  --dark-color-02: rgba(86, 178, 128, 0.2);
  --darker-color-085: rgba(39, 39, 39, 0.85);
  --darker-color-040: rgba(39, 39, 39, 0.4);
  --darker-color-015: rgba(86, 178, 128, 0.15);

}

/* ====== scroll-bar-style ====== */

::-webkit-scrollbar{

  width: 10px;
  background-color: var(--light-color);

}

::-webkit-scrollbar-thumb{

  border-radius: 5px;
  background-color: var(--dark-color);

}

/* ====== outlet-style ====== */

.outlet_cont{

  width: 100%;
  padding-top: 71px;

}

/* ====== load-container ====== */

.load_cont {

  width: fit-content;
  display: flex;
  gap: 20px;

}