.auth_cont{

    width: 100%;
    padding: 0px 4.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left_side , .right_side{

    width: 50%;

}

.title{

    width: 100%;
    padding: 70px 0px;
    font-size: 26px;
    line-height: 25.6px;
    font-weight: 500;
    color: var(--darker-color);

}

.form{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;

}

.form .input_cont{

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

/* ============ */

.loader {

    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 20px;
    height: 10px;
    background: linear-gradient(var(--dark-color) calc(1 * 100% / 6),
            var(--light-color) 0 calc(3 * 100% / 6),
            var(--dark-color) 0),
        linear-gradient(var(--dark-color) calc(2 * 100% / 6),
            var(--light-color) 0 calc(4 * 100% / 6),
            var(--dark-color) 0),
        linear-gradient(var(--dark-color) calc(3 * 100% / 6),
            var(--light-color) 0 calc(5 * 100% / 6),
            var(--dark-color) 0);
    background-size: 5px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%;
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%;
    }
}

/* ============ */

.form .input_cont label{

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: var(--darker-color);

}

.form .input_cont label .error_msg{

    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: var(--error-color);

}

.form .input_cont input{

    height: 40px;
    padding: 0px 20px;
    padding-right: 50px;
    outline: none;
    font-size: 16px;
    color: var(--darker-color);
    border-radius: 4px;
    border: 1px solid var(--dark-color);
    background-color: transparent;

}

.form .input_cont input:focus{

    border-width: 2px;

}

.input_cont:focus-within .loader{

    opacity: 1;
    visibility: visible;

}

.eye{

    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    /* background-color: black; */

}

.eye_cont{

    position: relative;
    width: 20px;
    height: 20px;

}

.eye_cont img{

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;

}

.submit{

    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
    border: none;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--dark-color);
    transition: 0.3s;
    cursor: pointer;

}

.submit:hover{

    opacity: 0.9;

}

.check_cont{

    margin-bottom: 10px;

}

.p .p_link{

    font-weight: 500;
    text-decoration: underline;
    color: var(--dark-color);

}

.right_side{

    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right_side img {

    width: 60%;

}

/* ====== responsive-style ====== */

@media(max-width: 950px){

    .right_side{

        display: none;

    }

    .left_side{

        width: 100%;

    }

}

@media(max-width: 425px){

    .title{

        padding: 50px 0px !important;

    }

    .left_side{

        padding-top: 50px !important;

    }

    .input_cont label{

        font-size: 16px !important;

    }

    .input_cont input{

        font-size: 14px !important;

    }

    .check_cont .p , .p_link{

        font-size: 14px;

    }

}