.container{

    width: calc(100% - 9%);
    height: 500px;
    margin: 50px 4.5%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden;

}