.slider_container{

    width: 100%;
    padding: 50px 4.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.container{

    position: relative;
    width: calc(70% - 10px);
    height: 500px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden;

}

.arrows{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--darker-color);
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;

}

.arrows:hover{

    background-color: var(--dark-color-02);

}

.arrows:nth-child(1){

    left: 10px;

}

.arrows:nth-child(3){

    right: 10px;

}

.slide_scroll{

    width: 100%;
    height: 100%;

}

.slide_scroll img{

    width: 100%;
    height: 100%;
    scale: 1;
    filter: blur(0px);
    object-fit: cover;
    transition: 0.3s;
    transition: scale 0.3s ease-in-out, filter 0.3s ease-in-out;

}

.slide_scroll img.fade {

    scale: 1.05;
    filter: blur(10px);

}

.slide_scroll img.fade_in {

    scale: 1;
    filter: blur(0px);

}

.right_img{

    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;

}

.right_img img{

    width: 100%;
    height: calc(50% - 5px);
    scale: 1;
    filter: blur(0px);
    border-radius: 5px;
    object-fit: cover;
    transition: scale 0.3s ease-in-out , filter 0.3s ease-in-out;
    overflow: hidden;

}

.right_img img.img_out{

    scale: 0.95;
    filter: blur(10px);

}

.right_img img.img_in{

    scale: 1;
    filter: blur(0px);

}

/* ====== responsive-style ====== */

@media(max-width: 926px){

    .slider_container{

        flex-direction: column !important;

    }

    .container{

        width: 100% !important;
        height: 300px !important;

    }

    .right_img{

        width: 100%;
        height: 300px !important;
        flex-direction: row;

    }

    .right_img img{

        width: calc(50% - 5px) !important;
        height: 100% !important;

    }

}

@media(max-width: 581px){

    .arrows{

        font-size: 16px !important;
        width: 25px !important;
        height: 25px !important;

    }

    .right_img{

        height: 200px !important;

    }

}